h1, h2, h3{
  text-align: center;
}

body{
  background-color: black;
  color: white;
}

.searchBar{
  display: flex;
  justify-content: center;
}

textarea{
  width: 80%;
  height: 1rem;
  color: gray;
}

.icon{
  height: 1rem;
  display: inline;
}

.preview{
  width: 50%;
}

.stackablePreview{
  height: 30vw;
}